.file-manager .grid-layout .block-item a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.file-manager {
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  position: relative; }
  .file-manager, .file-manager div, .file-manager header, .file-manager footer, .file-manager ul, .file-manager li, .file-manager a {
    box-sizing: border-box; }
  .file-manager ul {
    padding: 0;
    margin: 0; }
  .file-manager .dir-item {
    cursor: pointer; }
    .file-manager .dir-item > div {
      background-image: url("images/dir.svg"); }
  .file-manager .file-item > div {
    background-image: url("images/file.svg"); }
  .file-manager .grid-layout .block-item {
    font-size: 12px;
    width: 120px;
    height: 125px;
    list-style: none;
    display: inline-block;
    overflow: hidden; }
    .file-manager .grid-layout .block-item:hover {
      background-color: #e4dbdb;
      border-radius: .25em; }
    .file-manager .grid-layout .block-item > div {
      width: 100%;
      height: 80px;
      padding: 10px 25px;
      background-size: 100%;
      background-clip: content-box; }
    .file-manager .grid-layout .block-item a {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 8px; }
  .file-manager .list-layout li {
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #f1e5e5; }
    .file-manager .list-layout li:hover {
      background-color: #f5dede; }
    .file-manager .list-layout li > * {
      position: relative;
      display: inline-block;
      padding: 10px 4px; }
    .file-manager .list-layout li .type {
      width: 60px; }
      .file-manager .list-layout li .type > div {
        position: absolute;
        left: 4px;
        top: -2px;
        width: 100%;
        height: 25px;
        background-repeat: no-repeat;
        background-size: 25px; }
    .file-manager .list-layout li .name {
      width: 30%; }
    .file-manager .list-layout li .size {
      width: 15%; }
    .file-manager .list-layout li .date {
      width: 30%; }
  .file-manager .file-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 80px; }
    .file-manager .file-container > header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background-color: #cdd; }
      .file-manager .file-container > header .tool {
        height: 45px;
        background-color: #ddd;
        padding: 6px; }
        .file-manager .file-container > header .tool > * {
          float: right; }
        .file-manager .file-container > header .tool .search {
          width: 280px;
          background-image: url("./images/search.svg");
          background-repeat: no-repeat;
          background-position: 250px 4px;
          background-size: 20px;
          padding-right: 45px;
          background-color: #fff;
          border-radius: 15px;
          overflow: hidden; }
          .file-manager .file-container > header .tool .search input {
            border: none;
            outline: none;
            width: 100%;
            height: 30px;
            padding: 0 6px 0 10px; }
        .file-manager .file-container > header .tool .sort-type, .file-manager .file-container > header .tool .layout-type {
          width: 30px;
          height: 30px;
          border: 1px solid #a9bce4;
          margin-left: 10px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          cursor: pointer; }
        .file-manager .file-container > header .tool .sort-type {
          background-image: url("./images/sort.svg"); }
        .file-manager .file-container > header .tool .grid {
          background-image: url("./images/grid.svg"); }
        .file-manager .file-container > header .tool .list {
          background-image: url("./images/list.svg"); }
      .file-manager .file-container > header .info {
        font-size: 12px;
        position: relative;
        padding-right: 100px;
        padding: 8px 10px;
        color: #4287ed; }
        .file-manager .file-container > header .info .path-route {
          width: 100%; }
        .file-manager .file-container > header .info .route-item, .file-manager .file-container > header .info .last-route {
          cursor: pointer; }
        .file-manager .file-container > header .info .route-item:not(:last-child):after {
          content: ">"; }
        .file-manager .file-container > header .info .route-item:last-child {
          cursor: auto;
          color: #525242; }
        .file-manager .file-container > header .info .summary {
          position: absolute;
          top: 0;
          right: 0;
          padding: 8px 10px; }
    .file-manager .file-container > div {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 8px;
      overflow: auto; }

/*# sourceMappingURL=comp.css.map */
