<div class="file-manager">
    <div class="file-container">
        <header>
            <div class="tool">
                <a class="layout-type" @click="switchLayout()" :class="{'grid':layoutType==='grid','list':layoutType!=='grid'}"></a>
                <a class="sort-type"></a>
                <div class="search">
                    <input type="text"/>
                </div>
            </div>
            <div class="info">
                <div class="path-route">
                    <template v-if="pathRoute.length>1">
                        <a class="last-route" @click="lastPathRoute()">返回上一级</a>
                        <a class="route-item" v-for="(route,index) in pathRoute" @click="redirectPathRoute(index)">
                            {{route.name}}
                        </a>
                    </template>
                    <template v-else>
                        <a>全部文件</a>
                    </template>
                </div>
                <span class="summary">
                    共{{files.length}}个文件
                </span>
            </div>
        </header>
        <div>
            <ul>
                <li @click="clickDir(file)" v-if="file.isDir" v-for="file in files" class="block-item dir-item">
                    <div></div>
                    <a>{{file.name}}</a>
                </li>
                <li v-else class="block-item file-item">
                    <div></div>
                    <a :title="file.name">{{file.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="upload-task">
        <header>任务列表</header>
        <div>
            <ul>
                <li class="task-item" v-for="task in 20">
                    <div class="progress"></div>
                    <div class="task-name">任务名称{{task}}</div>
                </li>
            </ul>
        </div>
        <footer>
            <task-paging></task-paging>
        </footer>
    </div>
</div>