@import "../../../../util/css/util";
@import "../../../../util/css/color";
.file-manager{
  width:100%;
  height:100%;
  overflow: hidden;
  @include css(user-select,none);
  &,div,header,footer,ul,li,a{
    box-sizing: border-box;
  }
  ul{
    padding:0;
    margin:0;
  }
  position: relative;

  .dir-item{
    cursor: pointer;
    >div{
      background-image:url("images/dir.svg");
    }
  }

  .file-item{
    >div{
      background-image:url("images/file.svg");
    }
  }
  .grid-layout{
    .block-item{
      font-size:12px;
      width:120px;
      height:125px;
      list-style:none;
      display: inline-block;
      overflow: hidden;
      &:hover{
        background-color:#e4dbdb;
        border-radius:.25em;
      }
      >div{
        width:100%;
        height:80px;
        padding:10px 25px;
        background-size: 100%;
        background-clip: content-box;
      }
      a{
        display: inline-block;
        width:100%;
        text-align: center;
        padding:8px;
        @extend %text-ellipsis;
      }
    }
  }

  .list-layout{
    li{
      overflow:hidden;
      white-space: nowrap;
      border-bottom:1px solid #f1e5e5;
      &:hover{
        background-color:#f5dede;
      }
      >*{
        position: relative;
        display:inline-block;
        padding:10px 4px;
      }
      .type{
        width:60px;
        >div{
          position: absolute;
          left: 4px;
          top: -2px;
          width: 100%;
          height: 25px;
          background-repeat: no-repeat;
          background-size: 25px;
        }
      }
      .name{
        width:30%;
      }
      .size{
        width:15%;
      }
      .date{
        width:30%;
      }
    }

  }

  .file-container{
    width:100%;
    height:100%;
    position: relative;
    $headerHeight:80px;
    padding-top:$headerHeight;
    >header{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:$headerHeight;
      background-color:#cdd;

      .tool{
        height:45px;
        $iconSize:30px;
        background-color:#ddd;
        padding:6px;
        >*{
          float:right;
        }
        .search{
          $width:280px;
          width:$width;
          background-image: url("./images/search.svg");
          background-repeat: no-repeat;
          background-position: ($width - 30) 4px;
          background-size:20px;
          padding-right:45px;
          background-color:#fff;
          border-radius:$iconSize / 2;
          overflow:hidden;
          input{
            border:none;
            outline:none;
            width:100%;
            height:30px;
            padding:0 6px 0 10px;
          }
        }
        .sort-type,.layout-type{
          width:$iconSize;
          height:$iconSize;
          border:1px solid #a9bce4;
          margin-left:10px;
          background-position: center;
          background-repeat: no-repeat;
          background-size:100%;
          cursor:pointer;
        }
        .sort-type{
          background-image:url("./images/sort.svg");
        }
        .grid{
          background-image:url("./images/grid.svg");
        }
        .list{
          background-image:url("./images/list.svg");
        }
      }

      .info{
        $color:#4287ed;
        font-size: 12px;
        position: relative;
        $pRight:100px;
        padding-right:$pRight;
        padding:8px 10px;
        color:$color;
        .path-route{
          width:100%;
        }
        .route-item,.last-route{
          cursor: pointer;
        }
        .route-item{
          &:not(:last-child){
            &:after{
              content:'>'
            }
          }
          &:last-child{
            cursor:auto;
            color: #525242;
          }
        }
        .summary{
          position: absolute;
          top:0;
          right:0;
          padding: 8px 10px;
        }
      }

    }
    >div{
      position: relative;
      width:100%;
      height:100%;
      padding:8px;
      overflow:auto;
    }
  }
}