@import "../../../../util/css/util";
@import "../../../../util/css/color";
.file-upload{
  &.upload-task{
    position: absolute;
    $maxHeight:420px;
    $minWidth:600px;
    right:30px;
    border:1px solid #ccc;
    $headerHeight:38px;
    $bottomHeight:40px;
    padding-top:$headerHeight;
    padding-bottom:$bottomHeight;
    width:$minWidth;
    height:$maxHeight;
    background-color:#fff;

    -webkit-transition: bottom .6s,height .6s;
    transition:bottom .6s,height .6s;

    bottom:-($maxHeight - $headerHeight);

    &.maximize{
      bottom:0;
    }
    &.full-screen{
      position: fixed;
      right: 0;
      bottom:0;
      width: 100%;
      height: 100%;
      min-width:$minWidth;
      .file-name{
        width:25%;
      }
      .file-size{
        width:15%;
      }
      .file-path{
        width:25%;
      }
      .task-status{
        width:25%;
      }
    }
    >header{
      position:absolute;
      top:0;
      left:0;
      height:$headerHeight;
      width:100%;
      padding:8px;
      color:#fff;
      font-size:14px;
      background-color:rgba(130, 124, 243, 0.52);
      text-align: center;
      .title{
        float:left;
      }
      .upload-statistic{

      }
      .minus,.maximize,.full-screen{
        float:right;
        width:18px;
        height:18px;
        background-size:80%;
        background-repeat: no-repeat;
        background-position: center;
        cursor:pointer;
        border-radius:1px;
        &:not(:last-child){
          margin-left:10px;
        }
        &:hover{
          background-color:#82b1b0;
        }
        &:active{
          background-color: #80a6b1;
        }
      }
      .minus{
        background-image:url("./images/minus.svg");
      }
      .full-screen{
        background-image:url("./images/full-screen.svg");
      }
      .out-full-screen{
        background-image:url("./images/out-full-screen.svg");
      }
      .maximize{
        background-image:url("./images/maximize.svg");
      }
    }
    >footer{
      position:absolute;
      bottom:0;
      left:0;
      height:$bottomHeight;
      width:100%;
      padding: 5px 0;
      padding-right: 12px;
      text-align: right;
      background-color: rgba(130, 124, 243, 0.52);
    }
    >div{
      position: relative;
      width:100%;
      height:100%;
      overflow:hidden;
      font-size:14px;
      $height:30px;
      padding-top:$height;

      .file-name{
        width:160px;
      }
      .file-size{
        width:80px;
      }
      .file-path{
        width:140px;
      }
      .task-status{
        width:200px;
      }
      .clear-task-list{
        float:right;
        color: #415ad8;
        cursor:pointer;
        &:hover{
          text-decoration: underline;
        }
        &:active{
          color: #3447d4;
        }
      }
      .t-head{
        position: absolute;
        top:0;
        left:0;
        height:$height;
        width:100%;
        overflow: hidden;
        background-color: #b4e6bc;
        >div{
          float:left;
          height:100%;
          padding: 5px 8px;
          &:not(:first-child){
            border-left:1px solid #e6ece1;
          }
        }
      }
      .t-body{
        height:100%;
        overflow:auto;
      }
      .task-item{
        overflow:hidden;
        width:100%;
        &:not(:first-child){
          border-top:1px solid #f3e0e0;
        }

        >div{
          float:left;
          padding:12px 8px;
          @extend %text-ellipsis;
        }
        .task-status{
          position: relative;
          >*{
            float:left;
          }
          $right:60px;
          padding-right:$right;
          .task-progress{
            width:100%;
            height:20px;
          }
          a{
            position: absolute;
            right:0;
            margin-left:8px;
            color:blue;
            cursor:pointer;
          }
        }
      }
    }
  }
}