<div class="file-upload upload-task" :class="{'maximize':!state.minus,'full-screen':state.fullScreen}">
    <header>
        <span class="title">文件管理</span>
        <div class="upload-statistic" v-if="tasks.length">
            <span @click="setTaskView(2)" :class="{'select':taskView===2}">{{runningQueue.length}}</span>/
            <span @click="setTaskView(1)" :class="{'select':taskView===1}">{{taskQueue.length}}</span>
            <i></i>
            <span class="text">{{uploadedCount}}</span>/
            <span @click="setTaskView(0)" :class="{'select':taskView===0}">{{tasks.length}}</span>
        </div>
        <a class="full-screen" @click="toggleFullScreen()" :class="{'out-full-screen':state.fullScreen,'full-screen':!state.fullScreen}"></a>
        <a v-if="!state.fullScreen" class="minus" @click="toggleSize()" :class="{'minus':!state.minus,'maximize':state.minus}"></a>
    </header>
    <div>
        <div class="t-head">
            <div class="file-name">文件名</div>
            <div class="file-size">大小</div>
            <div class="file-path">目录</div>
            <div class="task-status">
                状态
                <a class="clear-task-list" @click="removeAllTasks()">清空列表</a>
            </div>
        </div>
        <ul class="t-body">
            <li class="task-item" v-for="task in pageTasks">
                <div class="file-name">{{task.item.name}}</div>
                <div class="file-size">{{fileSize(task)}}</div>
                <div class="file-path" :title="task.item.fullPath">{{task.item.fullPath}}</div>
                <div class="task-status">
                    <progress-bar class="task-progress" :progress="task.progress"></progress-bar>
                    <a class="right remove" @click="removeTask(task)" v-if="task.status===0">删除</a>
                    <div class="right" v-else-if="task.status===1">
                        <span class="remove" @click="removeTask(task)">删除</span>
                        <span v-if="task.uploadRate">{{task.uploadRate}}/S</span>
                    </div>
                    <div v-else-if="task.status===-1" class="right">失败</div>
                    <div class="right" v-else>完成</div>
                </div>
            </li>
        </ul>
    </div>
    <footer>
        <task-paging :page-count="pageCount"  @change="taskPageChanged"></task-paging>
    </footer>
</div>