@import "../../util/css/util.scss";
html,body{
  $fromColor:#3f3dd0;
  $endColor:#fff;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
  background: #dcefe5;
  background: -ms-linear-gradient(top, $fromColor,  $endColor);
  background:-moz-linear-gradient(top,$fromColor,$endColor);
  background:-webkit-gradient(linear, 0% 0%, 0% 100%,from($fromColor), to($endColor));

  &,*{
    &::-webkit-scrollbar-track
    {
      background-color: transparent;
    }
    &::-webkit-scrollbar
    {
      $size:12px;
      width: $size;
      height: $size;
      padding-left: 2px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb
    {
      background-clip: padding-box;
      border: 1px solid rgba(255, 255, 255, 0);
      -webkit-box-shadow: inset 0 0 6px rgba(102,102,102,.3);
      background-color: rgba(173, 164, 164, 0.93);
      border-radius: 10px;
    }
  }
}
.system{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  &,div{
    @include css(box-sizing,border-box);
  }
  iframe{
    display:none;
  }
  canvas{
    border:none;
    outline:none;
  }
  .input-content{
    display:flex;
    flex-direction: row;
    min-height:50px;
    padding:15px;
    align-items: center;
    $inputHeight:30px;
    background-color:#80b1c1;
    label{
      width:20vw;
      text-align: center;
    }
    .button-group{
      width:20vw;
      text-align: center;
      .button{
        display:inline-block;
        height:$inputHeight;
        line-height:$inputHeight;
        width:60%;
        cursor:pointer;
        background-color: #778f9a;
        border: 1px solid #297173;
        @include css(user-select,none);
        &:hover{
          background-color:#70848e;
          border:1px solid #2b8d90;
        }

        &:active{
          background-color: #2f84af;
          border: 1px solid #307d80;
        }
      }
    }
    input{
      flex:1;
      height:$inputHeight;
      outline:none;
      border:1px solid #ccc;
      text-indent:15px;
      color: blue;
      font-size: 16px;
      background-color:#c6e9ea;
      &:focus{
        background-color:#fff;
      }
    }
  }
  .statistics{
    flex:1;
    #statistics{
      width:100%;
      height:100%;
      overflow:hidden;
    }
  }

}