@import "util/css/util";
@import "util/css/color";
body,html{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  font-size:18px;
  overflow:hidden;
  font-family: "Microsoft YaHei";
}
[v-cloak]{
  display:none !important;
}
@keyframes main-enter {
  0%{
    @include css(transform, scaleY(.3));
  }
  100%{
    @include css(transform,scaleY(1));
  }
}
@keyframes main-enter-text {
  0%{
    @include css(transform, scaleX(0));
    opacity: 0;
  }
  100%{
    @include css(transform,scaleX(1));
    opacity: 1;
  }
}
.main{
  width:100%;
  height:100%;
  overflow:hidden;

  &,*{
    &::-webkit-scrollbar-track
    {
      background-color: transparent;
    }
    &::-webkit-scrollbar
    {
      $size:8px;
      width: $size;
      height: $size;
      padding-left: 2px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb
    {
      background-clip: padding-box;
      border: 1px solid rgba(255, 255, 255, 0);
      -webkit-box-shadow: inset 0 0 6px rgba(102,102,102,.3);
      background-color: $scrollBgColor;
      border-radius: 10px;
    }
  }
}
